.formControl{
    width: 30%;
    margin-bottom: 30px !important;
    font-weight: 500 !important;
}

.name{
    font-size: 20px !important;
}

.heading{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}