.container{
    margin: 40px 0;
}

.card{
    margin: 0 2% !important;
}

.infected{
    /* border-bottom: 10px solid rgba(0, 0, 255, 0.5); */
    background-color: rgba(0, 0, 200, 0.7) !important;
    color:#ffffff !important;
}

.recovered{
    /* border-bottom: 10px solid rgba(0, 255, 0, 0.5); */
    background-color: rgb(0, 100, 0) !important;
    color:#ffffff !important;
}

.deaths{
    /* border-bottom: 10px solid rgba(255, 0, 0, 0.5); */
    background-color: rgba(255, 0, 0, 1) !important;
    color:#ffffff !important;
}

@media(max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}